<style>
    .btn-file {
        padding: 2px 10px;
        font-size: 11.9px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    .btn-file input {
        position: absolute;
        font-size: 16px;
        right: 0;
        top: 0;
         opacity: 0;
        width: 50px;
    }

</style>
<div>
    <div class="page-header">
        <h1>
            <small>
                <i class="icon-double-angle-right icon-key "></i>
                {{title}}
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row" style="margin-left: 20px;">
        <div style="float: left;width: 450px;border:solid 1px gray">

            <form id="reqQueryForm" onsubmit="return false" actionId="{{authRes.actionId}}">
            <div class="clearfix form-actions" style="margin: 5px 0;padding: 3px 0">
                <div class="col-md-offset-1 col-md-12">
                    应用：
                    <select id="appName" name="appName">
                        <option value=""></option>
                    </select>

                    <input type="text" id="urlLike" name="urlLike" value="{{urlLike}}"  style="width:150px">
                    <button class="btn btn-info" id="btnQuery"> <i class="icon-ok bigger-110"></i> 查询 </button>
                </div>
                <!--<div class="col-md-offset-10 col-md-1">-->
                <!--</div>-->
            </div>
            </form>

            <div class="dd dd-draghandle" style="width:100%">
                <ol class="dd-list" id="activeChildItem">
                    {{each dataList as bean i}}
                    <li class="dd-item dd2-item" >
                        <div class="dd-handle dd2-handle">
                            <i class="red bigger-130">{{bean.httpStatus}}</i>
                        </div>
                        <div class="dd2-content">
                            <a style="cursor: pointer" name="itemUrl" data="{{bean.id}}">{{bean.appName}}-{{bean.model}}-{{bean.url}}</a>
                            <div class="pull-right action-buttons" id="itemChildRemove">
                                <a class="red" href="#" > <i class="icon-trash bigger-130"></i> </a>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>

        <div class="" style="float: left; width:800px;margin-left: 15px; padding-left: 20px; border: solid 1px gray">
            <form class="form-horizontal" role="form" id="reqContentForm" onsubmit="return false;">

                <div id="reqBlock">
                </div>

                <div id="resBlock">
                </div>

            </form>

        </div>
        <div style="float:none"></div>
    </div>
</div><!-- /.page-content -->
<div>
    <!--<form id="testForm"  method="post" >-->
        <!--<input type="text" id="pageNum" name="pageNum" value="11">-->
        <!--<input type="text" id="pageSize" name="pageSize" value="21">-->
        <!--<input type="file" id="myFile" name="myFile" >-->
        <!--<input type="button"  value="测试" onclick="testAjax()">-->

    <!--</form>-->
</div>
<script src="/_resources/scripts/module/req/reqContent.js?ver={{ver}}"></script>
<script>
    function testAjax(){
        var formData = new FormData($("#testForm")[0]);
        debugger;
        $.ajax({
            url:'/reqContent/save',
            type: 'POST',
//            data:{pageNum:5,pageSize:100},
            data:formData,
            headers:{'myHead':'value1'},
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success:function(data,status,xhr){
                debugger;
            },
            error:function(xhr,status,err){
                debugger;
            },


        });
        alert(111);

    }
</script>
