<!--reponse block-->
<div id="resBlock_header" >
    <div class="page-header">
        <h1>
            <small>
                <i class="icon-double-angle-right icon-key "></i>
                返回头列表
            </small>
        </h1>
    </div>
    <table id="tbResHeader" class="table table-striped table-bordered table-hover" style="width:98%">
        {{each resHeaderList as bean i}}
        <tr class="selected">
            <td>
                <span style="width:180px">{{bean.key}}</span>
                =
                {{bean.value}}
            </td>
        </tr>
        {{/each}}
        <tr class="selected">
        </tr>
    </table>
</div>

<div id="resBlock_data" >
    <div class="page-header">
        <h1>
            <small>
                <i class="icon-double-angle-right icon-key "></i>
                 返回数据
            </small>
        </h1>
    </div>
    <div style="width:98%">
        <pre>{{resData}}</pre>
    </div>
    <!--<div class="box" contenteditable="true">-->
        <!--<pre></pre>resData}}-->
    <!--</div>-->
    <!--<textarea class="txtareaCss" readonly="true" npropertychange="this.style.posHeight=this.scrollHeight ">{{resData}}</textarea>-->
</div>
<div class="clearfix form-actions" style="float: none"></div>
