<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- <plugins>
        <plugin interceptor="com.vdlm.dal.interceptor.MyBatisInterceptor">
        </plugin>
    </plugins> -->
    <typeAliases>
        <typeAlias alias="Config" type="com.yuntao.zhushou.model.domain.Config"/>
        <typeAlias alias="User" type="com.yuntao.zhushou.model.domain.User"/>
        <typeAlias alias="App" type="com.yuntao.zhushou.model.domain.App"/>
        <typeAlias alias="AppFront" type="com.yuntao.zhushou.model.domain.AppFront"/>
        <typeAlias alias="Company" type="com.yuntao.zhushou.model.domain.Company"/>
        <typeAlias alias="Host" type="com.yuntao.zhushou.model.domain.Host"/>
        <typeAlias alias="DeployLog" type="com.yuntao.zhushou.model.domain.DeployLog"/>
        <typeAlias alias="DeployLogVo" type="com.yuntao.zhushou.model.vo.DeployLogVo"/>
        <typeAlias alias="AppHost" type="com.yuntao.zhushou.model.domain.AppHost"/>
        <typeAlias alias="AtTemplate" type="com.yuntao.zhushou.model.domain.AtTemplate"/>
        <typeAlias alias="AtActive" type="com.yuntao.zhushou.model.domain.AtActive"/>
        <typeAlias alias="AtParameter" type="com.yuntao.zhushou.model.domain.AtParameter"/>
        <typeAlias alias="AtProcessInst" type="com.yuntao.zhushou.model.domain.AtProcessInst"/>
        <typeAlias alias="AtActiveInst" type="com.yuntao.zhushou.model.domain.AtActiveInst"/>
        <typeAlias alias="IdocUrl" type="com.yuntao.zhushou.model.domain.IdocUrl"/>
        <typeAlias alias="IdocParam" type="com.yuntao.zhushou.model.domain.IdocParam"/>
        <typeAlias alias="Role" type="com.yuntao.zhushou.model.domain.Role"/>
        <typeAlias alias="AuthRes" type="com.yuntao.zhushou.model.domain.AuthRes"/>
        <typeAlias alias="RoleAuthRes" type="com.yuntao.zhushou.model.domain.RoleAuthRes"/>
        <typeAlias alias="ReqContent" type="com.yuntao.zhushou.model.domain.ReqContent"/>
        <typeAlias alias="ProxyContent" type="com.yuntao.zhushou.model.domain.ProxyContent"/>
        <typeAlias alias="ShowRes" type="com.yuntao.zhushou.model.domain.ShowRes"/>
        <typeAlias alias="AppVersion" type="com.yuntao.zhushou.model.domain.AppVersion"/>
        <typeAlias alias="AppDownloadRecords" type="com.yuntao.zhushou.model.domain.AppDownloadRecords"/>
        <typeAlias alias="WarnEvent" type="com.yuntao.zhushou.model.domain.WarnEvent"/>
        <typeAlias alias="WarnEventResult" type="com.yuntao.zhushou.model.domain.WarnEventResult"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/ConfigMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/AppMapper.xml"/>
        <mapper resource="mapper/AppFrontMapper.xml"/>
        <mapper resource="mapper/CompanyMapper.xml"/>
        <mapper resource="mapper/HostMapper.xml"/>
        <mapper resource="mapper/DeployLogMapper.xml"/>
        <mapper resource="mapper/AtTemplateMapper.xml"/>
        <mapper resource="mapper/AtActiveMapper.xml"/>
        <mapper resource="mapper/AtParameterMapper.xml"/>
        <mapper resource="mapper/AtProcessInstMapper.xml"/>
        <mapper resource="mapper/AtActiveInstMapper.xml"/>
        <mapper resource="mapper/IdocUrlMapper.xml"/>
        <mapper resource="mapper/IdocParamMapper.xml"/>
        <mapper resource="mapper/RoleMapper.xml"/>
        <mapper resource="mapper/AuthResMapper.xml"/>
        <mapper resource="mapper/RoleAuthResMapper.xml"/>
        <mapper resource="mapper/ReqContentMapper.xml"/>
        <mapper resource="mapper/ProxyContentMapper.xml"/>
        <mapper resource="mapper/ShowResMapper.xml"/>
        <mapper resource="mapper/AppVersionMapper.xml"/>
        <mapper resource="mapper/AppDownloadRecordsMapper.xml"/>
        <mapper resource="mapper/WarnEventMapper.xml"/>
        <mapper resource="mapper/WarnEventResultMapper.xml"/>
    </mappers>

</configuration>