<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuntao.zhushou.dal.mapper.AppMapper">

    <resultMap id="BaseResultMap" type="App">
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="companyId" property="companyId" jdbcType="BIGINT" />
        <result column="projectId" property="projectId" jdbcType="BIGINT" />
        <result column="userId" property="userId" jdbcType="BIGINT" />
        <result column="gmtCreate" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="gmtModify" property="gmtModify" jdbcType="TIMESTAMP" />
        <result column="delStatus" property="delStatus" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="log" property="log" jdbcType="VARCHAR" />
        <result column="desc" property="desc" jdbcType="VARCHAR" />
        <result column="codeName" property="codeName" jdbcType="VARCHAR" />
        <result column="domain" property="domain" jdbcType="VARCHAR" />
        <result column="port" property="port" jdbcType="INTEGER" />
        <result column="front" property="front" jdbcType="INTEGER" />
        <result column="compileProperty" property="compileProperty" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,`name`,`companyId`,`projectId`,`userId`,`gmtCreate`,`gmtModify`,`type`,`status`,`log`,`desc`,`codeName`,`domain`,`port`,
        `front`,`compileProperty`
    </sql>
    <sql id="Base_Table_Name">
        app
    </sql>
    <sql id="Base_Where">
        delStatus = 1
        <if test="id != null">and id = #{id}</if>
        <if test="companyId != null">and companyId = #{companyId}</if>
        <if test="projectId != null">and projectId = #{projectId}</if>
        <if test="name != null and name != ''">and name = #{name}</if>
        <if test="codeName != null and codeName != ''">and codeName = #{codeName}</if>
        <if test="type != null">and type = #{type}</if>
        <if test="status != null">and status = #{status}</if>
        <if test="front != null">and front = #{front}</if>

    </sql>

    <select id="findById" parameterType="Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from
        <include refid="Base_Table_Name"/>
        where id = #{id}
    </select>

    <select id="findByCondition" parameterType="Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from
        <include refid="Base_Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
    </select>


    <select id="selectList" parameterType="Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from
        <include refid="Base_Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
        order by id asc
        <if test="pagination != null ">
            limit #{pagination.startRow}, #{pagination.pageSize}
        </if>
    </select>

    <select id="selectListCount" parameterType="Map" resultType="java.lang.Long">
        SELECT count(*) from
        <include refid="Base_Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="User">
        <selectKey resultType="long" keyProperty="id">
            SELECT
            LAST_INSERT_ID() AS id
        </selectKey>
        insert into
        <include refid="Base_Table_Name"/>
        (`name`,`companyId`,`projectId`,`userId`,`gmtCreate`,`gmtModify`,`delStatus`,`type`,`status`,`log`,`desc`,`codeName`,`domain`,`port`,`front`,`compileProperty`)
        values
        (#{name},#{companyId},#{projectId},#{userId},now(6),now(6),1,#{type},#{status},#{log},#{desc},#{codeName},#{domain},#{port},#{front},#{compileProperty})
    </insert>

    <update id="updateById">
        update
        <include refid="Base_Table_Name"/>
        <set>
            <if test="name != null and name !=''">`name`=#{name},</if>
            <if test="companyId != null">`companyId`=#{companyId},</if>
            <if test="projectId != null">`projectId`=#{projectId},</if>
            <if test="userId != null">`userId`=#{userId},</if>
            <if test="type != null and type !=''">`type`=#{type},</if>
            <if test="status != null and status !=''">`status`=#{status},</if>
            <if test="log != null and log !=''">`log`=#{log},</if>
            <if test="desc != null and desc !=''">`desc`=#{desc},</if>
            <if test="codeName != null and codeName !=''">`codeName`=#{codeName},</if>
            <if test="domain != null and domain !=''">`domain`=#{domain},</if>
            <if test="port != null">`port`=#{port},</if>
            <if test="front != null">`front`=#{front},</if>
            <if test="compileProperty != null and compileProperty !=''">`compileProperty`=#{compileProperty},</if>
        </set>
        ,gmtModify = now(6)
        where id = #{id}
    </update>

    <update id="updateLog">
        update
        <include refid="Base_Table_Name"/>
        set log = #{log} ,gmtModify = now(6) where projectId = #{projectId} and name = #{name}
    </update>

    <update id="deleteById">
        update
        <include refid="Base_Table_Name"/>
        set delStatus = 0,gmtModify = now(6)
        where id = #{id}
    </update>

    <update id="updateStatus">
        update
        <include refid="Base_Table_Name"/>
        <set>
            gmtModify=now(),
            <if test="newStatus != null">`status`=#{newStatus},</if>
        </set>

        where id = #{id} and status = #{oldStatus}
    </update>

</mapper>