<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuntao.zhushou.dal.mapper.AtActiveInstMapper">

    <resultMap type="AtActiveInst" id="BaseResultMap">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="processInstId" property="processInstId"/>
        <result column="activeId" property="activeId"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="httpStatus" property="httpStatus"/>
        <result column="errMsg" property="errMsg"/>
        <result column="result" property="result"/>
        <result column="gmtCreate" property="gmtCreate"/>
        <result column="gmtModify" property="gmtModify"/>
        <result column="delStatus" property="delStatus"/>
        <result column="param" property="param"/>
        <result column="reqHeader" property="reqHeader"/>
        <result column="resHeader" property="resHeader"/>
    </resultMap>


    <sql id="Base_Column_List">
    `id`,`processInstId`,`activeId`,`name`,`status`,`httpStatus`,`errMsg`,`result`,`gmtCreate`,
    `gmtModify`,`delStatus`,`param`,`reqHeader`,`resHeader`
  </sql>


    <sql id="Base_Table_Name">
      atActiveInst
  </sql>


    <sql id="Base_Where">
        delStatus = 1
        <if test="id != null">and `id` = #{id}</if>
        <if test="processInstId != null">and `processInstId` = #{processInstId}</if>
        <if test="activeId != null">and `activeId` = #{activeId}</if>
        <if test="name != null and name != '' ">and `name` = #{name}</if>
        <if test="status != null">and `status` = #{status}</if>
        <if test="httpStatus != null">and `httpStatus` = #{httpStatus}</if>
        <if test="errMsg != null and errMsg != '' ">and `errMsg` = #{errMsg}</if>
        <if test="result != null and result != '' ">and `result` = #{result}</if>
    </sql>


    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Base_Table_Name"/>
        WHERE id = #{id}
    </select>


    <select id="selectList" parameterType="Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from
        <include refid="Base_Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
        order by id desc
        <if test="pagination != null ">
            limit #{pagination.startRow}, #{pagination.pageSize}
        </if>
    </select>


    <select id="selectListCount" parameterType="Map" resultType="java.lang.Long">
        SELECT count(*) from
        <include refid="Base_Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
    </select>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="AtActiveInst">
        <selectKey resultType="long" keyProperty="id">
            SELECT
            LAST_INSERT_ID() AS id
        </selectKey>
        insert into
        <include refid="Base_Table_Name"/>
        (
        `processInstId`,`activeId`,`name`,`status`,`httpStatus`,`errMsg`,`result`,
        `gmtCreate`,`gmtModify`,`delStatus`,`param`,`reqHeader`,`resHeader`
        )
        values
        (
        #{processInstId},#{activeId},#{name},#{status},#{httpStatus},#{errMsg},#{result},now(6),now(6),
        1,#{param},#{reqHeader},#{resHeader}
        )
    </insert>

    <update id="updateById">
        update
        <include refid="Base_Table_Name"/>
        <set>
            <if test="processInstId != null">`processInstId` = #{processInstId},</if>
            <if test="activeId != null">`activeId` = #{activeId},</if>
            <if test="name != null and name !=''">`name` = #{name},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="httpStatus != null">`httpStatus` = #{httpStatus},</if>
            <if test="errMsg != null and errMsg !=''">`errMsg` = #{errMsg},</if>
            <if test="result != null and result !=''">`result` = #{result},</if>
            <if test="param != null and param !=''">`param` = #{param},</if>
            <if test="reqHeader != null and reqHeader !=''">`reqHeader` = #{reqHeader},</if>
            <if test="resHeader != null and resHeader !=''">`resHeader` = #{resHeader},</if>
        </set>
        ,gmtModify = now(6)
        where id = #{id}
    </update>


    <update id="deleteById" parameterType="Long">
        update
        <include refid="Base_Table_Name"/>
        set delStatuse = 0,gmtModify = now(6) where id = #{id}
    </update>

    <!-- user definition code start -->
    <!-- user definition code end -->
</mapper> 
