<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.yuntao.zhushou.dal.mapper.AtParameterMapper">  
   
  <resultMap type="AtParameter" id="BaseResultMap">
     <id column="id" property="id" jdbcType="BIGINT" />
       <result  column="activeId" property="activeId"/>
     <result  column="code" property="code"/>
     <result  column="name" property="name"/>
     <result  column="dataType" property="dataType"/>
     <result  column="dataValue" property="dataValue"/>
     <result  column="ruleType" property="ruleType"/>
     <result  column="script" property="script"/>
     <result  column="gmtCreate" property="gmtCreate"/>
     <result  column="gmtModify" property="gmtModify"/>
     <result  column="delStatus" property="delStatus"/>
</resultMap>
        
    
 <sql id="Base_Column_List">
    `id`,`activeId`,`code`,`name`,`dataType`,`dataValue`,`ruleType`,`script`,       
    `gmtCreate`,`gmtModify`,`delStatus`       
    
  </sql>
        
    
  <sql id="Base_Table_Name">
      atParameter
  </sql>
        
    
  <sql id="Base_Where">
    delStatus = 1
    <if test="id != null and id != '' ">and  `id` = #{id}</if> 
    <if test="activeId != null and activeId != '' ">and  `activeId` = #{activeId}</if> 
    <if test="code != null and code != '' ">and  `code` = #{code}</if> 
    <if test="name != null and name != '' ">and  `name` = #{name}</if> 
    <if test="dataType != null and dataType != '' ">and  `dataType` = #{dataType}</if> 
    <if test="dataValue != null and dataValue != '' ">and  `dataValue` = #{dataValue}</if> 
    <if test="ruleType != null and ruleType != '' ">and  `ruleType` = #{ruleType}</if> 
    <if test="script != null and script != '' ">and  `script` = #{script}</if> 
    <if test="gmtCreate != null and gmtCreate != '' ">and  `gmtCreate` = #{gmtCreate}</if> 
    <if test="gmtModify != null and gmtModify != '' ">and  `gmtModify` = #{gmtModify}</if> 
  </sql>
  
        
    
  <select id="findById" resultMap="BaseResultMap">
     select <include refid="Base_Column_List" /> from <include refid="Base_Table_Name" /> WHERE id = #{id}
  </select>
        
    
  <select id="selectList" parameterType="Map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> from <include refid="Base_Table_Name" />
        <where>
            <include refid="Base_Where"/>
        </where>
       order by id desc
     <if test="pagination != null ">
          limit #{pagination.startRow}, #{pagination.pageSize}
    </if>
    </select>
    
        
    
  <select id="selectListCount" parameterType="Map" resultType="java.lang.Long">
      SELECT count(*) from <include refid="Base_Table_Name" />
      <where>
          <include refid="Base_Where"/>
      </where>
  </select>
 
        
    
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="AtParameter">
      <selectKey resultType="long" keyProperty="id">
          SELECT
          LAST_INSERT_ID() AS id
      </selectKey>
    insert into  <include refid="Base_Table_Name" />
    (
    `activeId`,`code`,`name`,`dataType`,`dataValue`,       
    `ruleType`,`script`,`gmtCreate`,`gmtModify`,`delStatus`
    ) 
    values
    (
    #{activeId},#{code},#{name},#{dataType},#{dataValue},#{ruleType},#{script},now(6),       
    now(6),1
    )
  </insert>  
    
  <update id="updateById">  
    update <include refid="Base_Table_Name" />
      <set>
           <if test="activeId != null and activeId !=''">`activeId` = #{activeId},</if>
       <if test="code != null and code !=''">`code` = #{code},</if>
       <if test="name != null and name !=''">`name` = #{name},</if>
       <if test="dataType != null and dataType !=''">`dataType` = #{dataType},</if>
       <if test="dataValue != null and dataValue !=''">`dataValue` = #{dataValue},</if>
       <if test="ruleType != null and ruleType !=''">`ruleType` = #{ruleType},</if>
       <if test="script != null and script !=''">`script` = #{script},</if>
     </set>
   ,gmtModify = now(6)
   where id = #{id}
  </update>  
        
    
   <update id="deleteById" parameterType="Long">  
      update  <include refid="Base_Table_Name" /> set delStatuse = 0  where id = #{id}
   </update>  
   
     <!-- user definition code start -->
     <!-- user definition code end -->
</mapper> 
