<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuntao.zhushou.dal.mapper.ConfigMapper">

    <resultMap id="BaseResultMap" type="Config">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="companyId" property="companyId" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="VARCHAR"/>
        <result column="delStatus" property="delStatus" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`,`type`,`companyId`,`name`,`value`
    </sql>
    <sql id="Base_Table_Name">
        config
    </sql>
    <sql id="Base_Where">
        delStatus = 1
        <if test="type != null">and `type`=#{type}</if>
        <if test="companyId != null">and `companyId`=#{companyId}</if>
        <if test="name != null and name !=''">and `name`=#{name}</if>
        <if test="value != null and value !=''">and `value`=#{value}</if>

    </sql>

    <select id="findById" parameterType="Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from
        <include refid="Base_Table_Name"/>
        where id = #{id}
    </select>


    <select id="findByCondition" parameterType="Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from
        <include refid="Base_Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
    </select>

    <select id="selectList" parameterType="Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from
        <include refid="Base_Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
        order by id desc
        <if test="pagination != null ">
            limit #{pagination.startRow}, #{pagination.pageSize}
        </if>
    </select>

    <select id="selectListCount" parameterType="Map" resultType="java.lang.Long">
        SELECT count(*) from
        <include refid="Base_Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
    </select>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Config">
        <selectKey resultType="long" keyProperty="id">
            SELECT
            LAST_INSERT_ID() AS id
        </selectKey>
        insert into
        <include refid="Base_Table_Name"/>
        (`type`,`companyId`,`name`,`value`,`delStatus`)
        values
        (#{type},#{companyId},#{name},#{value},1)
    </insert>

    <update id="updateById">
        update
        <include refid="Base_Table_Name"/>
        <set>
            <if test="type != null">`type`=#{type},</if>
            <if test="companyId != null">`companyId`=#{companyId},</if>
            <if test="name != null and name !=''">`name`=#{name},</if>
            <if test="value != null and value !=''">`value`=#{value},</if>
        </set>
        where id = #{id}
    </update>


</mapper>