<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuntao.zhushou.dal.mapper.ProxyContentMapper">

    <resultMap type="ProxyContent" id="BaseResultMap">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="companyId" property="companyId" jdbcType="BIGINT" />
        <result column="port" property="port"/>
        <result column="clientIp" property="clientIp"/>
        <result column="domain" property="domain"/>
        <result column="pathUrl" property="pathUrl"/>
        <result column="url" property="url"/>
        <result column="reqHeader" property="reqHeader"/>
        <result column="reqData" property="reqData" typeHandler="org.apache.ibatis.type.BlobTypeHandler" />
        <result column="resHeader" property="resHeader"/>
        <result column="resData" property="resData" typeHandler="org.apache.ibatis.type.BlobTypeHandler" />
        <result column="resContentType" property="resContentType"/>
        <result column="resLength" property="resLength"/>
        <result column="reqMethod" property="reqMethod"/>
        <result column="httpStatus" property="httpStatus"/>
        <result column="status" property="status"/>
        <result column="gmtRequest" property="gmtRequest"/>
        <result column="gmtResponse" property="gmtResponse"/>
        <result column="delStatus" property="delStatus"/>
    </resultMap>


    <sql id="Base_Column_List">
    `id`,`companyId`,``port`,`clientIp`,`domain`,`pathUrl`,`url`,`reqHeader`,`reqData`,`resHeader`,`resData`,`resContentType`,`resLength`,
    `reqMethod`,`httpStatus`, `status`,`gmtRequest`,`gmtResponse`, `delStatus`
    
  </sql>


    <sql id="Base_Table_Name">
      proxyContent
  </sql>


    <sql id="Base_Where">
        delStatus = 1
        <if test="id != null and id != '' ">and `id` = #{id}</if>
        <if test="companyId != null">and companyId = #{companyId}</if>
        <if test="domain != null and domain != '' ">and `domain` = #{domain}</if>
        <if test="pathUrl != null and pathUrl != '' ">and `pathUrl` = #{pathUrl}</if>
        <if test="url != null and url != '' ">and `url` = #{url}</if>
        <if test="port != null">and `port` = #{port}</if>
        <if test="clientIp != null and clientIp != '' ">and `clientIp` = #{clientIp}</if>
        <if test="reqMethod != null and reqMethod != '' ">and `reqMethod` = #{reqMethod}</if>
        <if test="httpStatus != null">and `httpStatus` = #{httpStatus}</if>
        <if test="resContentType != null and resContentType != '' ">and `resContentType` = #{resContentType}</if>
        <if test="resLength != null">and `resLength` = #{resLength}</if>
        <if test="status != null">and `status` = #{status}</if>
        <if test="gmtRequest != null and gmtRequest != '' ">and `gmtRequest` = #{gmtRequest}</if>
        <if test="gmtResponse != null and gmtResponse != '' ">and `gmtResponse` = #{gmtResponse}</if>
        <if test="delStatus != null">and `delStatus` = #{delStatus}</if>
    </sql>


    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Base_Table_Name"/>
        WHERE id = #{id}
    </select>


    <select id="selectList" parameterType="Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from
        <include refid="Base_Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
        order by id desc
        <if test="pagination != null ">
            limit #{pagination.startRow}, #{pagination.pageSize}
        </if>
    </select>


    <select id="selectListCount" parameterType="Map" resultType="java.lang.Long">
        SELECT count(*) from
        <include refid="Base_Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
    </select>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="ReqContent">
        <selectKey resultType="long" keyProperty="id">
            SELECT
            LAST_INSERT_ID() AS id
        </selectKey>
        insert into
        <include refid="Base_Table_Name"/>
        (
        `companyId`,`port`,`clientIp`,`domain`,`pathUrl`,`url`,`reqHeader`,`reqData`,`resHeader`,`resData`,`resContentType`,`resLength`,
        `reqMethod`,`httpStatus`, `status`,`gmtRequest`,`gmtResponse`, `delStatus`
        )
        values
        (
        #{companyId},#{port},#{clientIp},#{domain},#{pathUrl},#{url},#{reqHeader},#{reqData},#{resHeader},#{resData},#{resContentType},#{resLength},
        #{reqMethod},#{httpStatus}, #{status},#{gmtRequest},#{gmtResponse},1
        )
    </insert>

    <update id="updateById">
        update
        <include refid="Base_Table_Name"/>
        <set>
            <if test="companyId != null">`companyId`=#{companyId},</if>
            <if test="port != null">`port` = #{port},</if>
            <if test="clientIp != null and clientIp !=''">`clientIp` = #{clientIp},</if>
            <if test="domain != null and domain !=''">`domain` = #{domain},</if>
            <if test="pathUrl != null and pathUrl !=''">`pathUrl` = #{pathUrl},</if>
            <if test="url != null and url !=''">`url` = #{url},</if>
            <if test="reqHeader != null and reqHeader !=''">`reqHeader` = #{reqHeader},</if>
            <if test="reqData != null and reqData !=''">`reqData` = #{reqData},</if>
            <if test="resHeader != null and resHeader !=''">`resHeader` = #{resHeader},</if>
            <if test="resData != null and resData !=''">`resData` = #{resData},</if>
            <if test="reqMethod != null and reqMethod !=''">`reqMethod` = #{reqMethod},</if>
            <if test="httpStatus != null and httpStatus !=''">`httpStatus` = #{httpStatus},</if>
            <if test="status != null and status !=''">`status` = #{status},</if>
            <if test="delStatus != null and delStatus !=''">`delStatus` = #{delStatus},</if>
        </set>
        where id = #{id}
    </update>


    <update id="deleteById" parameterType="Long">
        update
        <include refid="Base_Table_Name"/>
        set delStatuse = 0 where id = #{id}
    </update>

    <!-- user definition code start -->
    <insert id="insertBatch">
        insert into
        <include refid="Base_Table_Name"/>
        (
        `companyId`,`port`,`clientIp`,`domain`,`pathUrl`,`url`,`reqHeader`,`reqData`,`resHeader`,`resData`,`resContentType`,`resLength`,
        `reqMethod`,`httpStatus`, `status`,`gmtRequest`,`gmtResponse`, `delStatus`
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.companyId},#{item.port},#{item.clientIp},#{item.domain},#{item.pathUrl},#{item.url},#{item.reqHeader},#{item.reqData, javaType=byte[], jdbcType=BLOB, typeHandler=org.apache.ibatis.type.BlobTypeHandler},
            #{item.resHeader}, #{item.resData, javaType=byte[], jdbcType=BLOB, typeHandler=org.apache.ibatis.type.BlobTypeHandler},#{item.resContentType},
            #{item.resLength}, #{item.reqMethod},#{item.httpStatus}, #{item.status},#{item.gmtRequest}, #{item.gmtResponse},1
            )
        </foreach>
    </insert>
    <!-- user definition code end -->
</mapper> 
