<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuntao.zhushou.dal.mapper.ReqContentMapper">

    <resultMap type="ReqContent" id="BaseResultMap">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="companyId" property="companyId" jdbcType="BIGINT" />
        <result column="url" property="url"/>
        <result column="reqHeader" property="reqHeader"/>
        <result column="reqData" property="reqData"/>
        <result column="resHeader" property="resHeader"/>
        <result column="resData" property="resData"/>
        <result column="reqMethod" property="reqMethod"/>
        <result column="httpStatus" property="httpStatus"/>
        <result column="userId" property="userId"/>
        <result column="userName" property="userName"/>
        <result column="model" property="model"/>
        <result column="appName" property="appName"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="gmtCreate" property="gmtCreate"/>
        <result column="gmtModify" property="gmtModify"/>
        <result column="delStatus" property="delStatus"/>
    </resultMap>


    <sql id="Base_Column_List">
    `id`,`companyId`,`url`,`reqHeader`,`reqData`,`resHeader`,`resData`,`reqMethod`,`httpStatus`,
    `userId`,`userName`,`model`,`appName`,`name`,`status`,`gmtCreate`,`gmtModify`,       
    `delStatus`       
    
  </sql>


    <sql id="Base_Table_Name">
      reqContent
  </sql>


    <sql id="Base_Where">
        delStatus = 1
        <if test="id != null and id != '' ">and `id` = #{id}</if>
        <if test="companyId != null">and companyId = #{companyId}</if>
        <if test="url != null and url != '' ">and `url` = #{url}</if>
        <if test="urlLike != null and urlLike != '' ">and `url` like concat('%',#{urlLike},'%') </if>
        <if test="reqHeader != null and reqHeader != '' ">and `reqHeader` = #{reqHeader}</if>
        <if test="reqData != null and reqData != '' ">and `reqData` = #{reqData}</if>
        <if test="resHeader != null and resHeader != '' ">and `resHeader` = #{resHeader}</if>
        <if test="resData != null and resData != '' ">and `resData` = #{resData}</if>
        <if test="reqMethod != null and reqMethod != '' ">and `reqMethod` = #{reqMethod}</if>
        <if test="httpStatus != null and httpStatus != '' ">and `httpStatus` = #{httpStatus}</if>
        <if test="userId != null and userId != '' ">and `userId` = #{userId}</if>
        <if test="userName != null and userName != '' ">and `userName` = #{userName}</if>
        <if test="model != null and model != '' ">and `model` = #{model}</if>
        <if test="appName != null and appName != '' ">and `appName` = #{appName}</if>
        <if test="name != null and name != '' ">and `name` = #{name}</if>
        <if test="status != null and status != '' ">and `status` = #{status}</if>
        <if test="gmtCreate != null and gmtCreate != '' ">and `gmtCreate` = #{gmtCreate}</if>
        <if test="gmtModify != null and gmtModify != '' ">and `gmtModify` = #{gmtModify}</if>
        <if test="delStatus != null and delStatus != '' ">and `delStatus` = #{delStatus}</if>
    </sql>


    <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Base_Table_Name"/>
        WHERE id = #{id}
    </select>


    <select id="selectList" parameterType="Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from
        <include refid="Base_Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
        order by id desc
        <if test="pagination != null ">
            limit #{pagination.startRow}, #{pagination.pageSize}
        </if>
    </select>


    <select id="selectListCount" parameterType="Map" resultType="java.lang.Long">
        SELECT count(*) from
        <include refid="Base_Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
    </select>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="ReqContent">
        <selectKey resultType="long" keyProperty="id">
            SELECT
            LAST_INSERT_ID() AS id
        </selectKey>
        insert into
        <include refid="Base_Table_Name"/>
        (
        `companyId`,`url`,`reqHeader`,`reqData`,`resHeader`,`resData`,`reqMethod`,`httpStatus`,
        `userId`,`userName`,`model`,`appName`,`name`,`status`,`gmtCreate`,`gmtModify`,
        `delStatus`
        )
        values
        (
        #{companyId},#{url},#{reqHeader},#{reqData},#{resHeader},#{resData},#{reqMethod},#{httpStatus},#{userId},
        #{userName},#{model},#{appName},#{name},#{status},now(6),now(6),1
        )
    </insert>

    <update id="updateById">
        update
        <include refid="Base_Table_Name"/>
        <set>
            <if test="companyId != null">`companyId`=#{companyId},</if>
            <if test="url != null and url !=''">`url` = #{url},</if>
            <if test="reqHeader != null and reqHeader !=''">`reqHeader` = #{reqHeader},</if>
            <if test="reqData != null and reqData !=''">`reqData` = #{reqData},</if>
            <if test="resHeader != null and resHeader !=''">`resHeader` = #{resHeader},</if>
            <if test="resData != null and resData !=''">`resData` = #{resData},</if>
            <if test="reqMethod != null and reqMethod !=''">`reqMethod` = #{reqMethod},</if>
            <if test="httpStatus != null and httpStatus !=''">`httpStatus` = #{httpStatus},</if>
            <if test="userId != null and userId !=''">`userId` = #{userId},</if>
            <if test="userName != null and userName !=''">`userName` = #{userName},</if>
            <if test="model != null and model !=''">`model` = #{model},</if>
            <if test="appName != null and appName !=''">`appName` = #{appName},</if>
            <if test="name != null and name !=''">`name` = #{name},</if>
            <if test="status != null and status !=''">`status` = #{status},</if>
            <if test="delStatus != null and delStatus !=''">`delStatus` = #{delStatus},</if>
        </set>
        ,gmtModify = now(6)
        where id = #{id}
    </update>


    <update id="deleteById" parameterType="Long">
        update
        <include refid="Base_Table_Name"/>
        set delStatus = 0 where id = #{id}
    </update>

    <!-- user definition code start -->
    <!-- user definition code end -->
</mapper> 
