<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuntao.zhushou.dal.mapper.WarnEventMapper">

	<resultMap type="WarnEvent" id="BaseResultMap">
		<id column="id" property="id"/>
		<result column="gmtCreate" property="gmtCreate"/>
		<result column="gmtModify" property="gmtModify"/>
		<result column="delState" property="delState"/>
		<result column="companyId" property="companyId"/>
		<result column="name" property="name"/>
		<result column="content" property="content"/>
		<result column="execTime" property="execTime"/>
		<result column="sms" property="sms"/>
		<result column="email" property="email"/>
		<result column="weixin" property="weixin"/>
		<result column="status" property="status"/>
		<result column="userIds" property="userIds"/>
	</resultMap>

	<sql id="Base_Column_List">
	 `id`, `gmtCreate`, `gmtModify`, `delState`, `companyId`, `name`, `content`, `execTime`,
	 `sms`, `email`, `weixin`, `status`, `userIds`
	</sql>

	<sql id="Base_Table_Name">
		warnEvent
	</sql>

	<sql id="Base_Where">
		<if test="id != null "> and  `id` = #{id} </if>
		<if test="gmtCreate != null "> and  `gmtCreate` = #{gmtCreate} </if>
		<if test="gmtModify != null "> and  `gmtModify` = #{gmtModify} </if>
		<if test="delState != null "> and  `delState` = #{delState} </if>
		<if test="companyId != null "> and  `companyId` = #{companyId} </if>
		<if test="name != null  and name != ''"> and  `name` = #{name} </if>
		<if test="content != null  and content != ''"> and  `content` = #{content} </if>
		<if test="execTime != null "> and  `execTime` = #{execTime} </if>
		<if test="sms != null "> and  `sms` = #{sms} </if>
		<if test="email != null "> and  `email` = #{email} </if>
		<if test="weixin != null "> and  `weixin` = #{weixin} </if>
		<if test="status != null "> and  `status` = #{status} </if>
		<if test="userIds != null  and userIds != ''"> and  `userIds` = #{userIds} </if>
		<if test="execTimeEnd != null ">
			<![CDATA[ and `execTime` <= #{execTimeEnd} ]]>
		</if>
	</sql>

    <select id="findById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from <include refid="Base_Table_Name"/> WHERE id = #{id}
    </select>

    <select id="selectList" parameterType="Map" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> from <include refid="Base_Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
        order by id desc
        <if test="pagination != null ">
            limit #{pagination.startRow}, #{pagination.pageSize}
        </if>
    </select>

    <select id="selectListCount" parameterType="Map" resultType="java.lang.Long">
        SELECT count(*) from <include refid="Base_Table_Name"/>
        <where>
            <include refid="Base_Where"/>
        </where>
    </select>


    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="WarnEvent">
        <selectKey keyProperty="id" resultType="Long">
            select LAST_INSERT_ID() as id
        </selectKey>
        insert into
        <include refid="Base_Table_Name"/>
        (
		`gmtCreate`,`gmtModify`,`delState`,
		`companyId`,`name`,`content`,`execTime`,`sms`,`email`,`weixin`,`status`,
		`userIds`
		)
		values
		(
		 now(6), now(6), 1, #{companyId}, #{name}, #{content}, #{execTime}, #{sms}, 
		 #{email}, #{weixin}, #{status}, #{userIds}
		)
    </insert>

    <update id="updateById" parameterType="WarnEvent">
        update <include refid="Base_Table_Name"/>
        <set>
			<if test="delState != null">`delState` = #{delState}, </if>
			<if test="companyId != null">`companyId` = #{companyId}, </if>
			<if test="name != null and name != ''">`name` = #{name}, </if>
			<if test="content != null and content != ''">`content` = #{content}, </if>
			<if test="execTime != null">`execTime` = #{execTime}, </if>
			<if test="sms != null">`sms` = #{sms}, </if>
			<if test="email != null">`email` = #{email}, </if>
			<if test="weixin != null">`weixin` = #{weixin}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="userIds != null and userIds != ''">`userIds` = #{userIds}, </if>
        </set>
        ,gmtModify = now(6)
        where id = #{id}
    </update>

    <update id="deleteById" parameterType="Long">
        update <include refid="Base_Table_Name"/> set delState = 0 where id = #{id}
    </update>


	<!-- user definition code start -->
	<update id="updateStatusById">
		update <include refid="Base_Table_Name"/> set status = #{status}
		,gmtModify = now(6)
		where id = #{id} and status != #{status}
	</update>

	<!-- user definition code end -->
</mapper>
