body {
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    color: black;
    background-color: #f8f8f8;
    font-family: 'Microsoft Yahei', Hei, Tahoma, SimHei, sans-serif;
}

pre {
    font-family: monospace;
}

ul, menu, dir {
    margin: 0px;
    padding: 0px;
}

.anormalLink {
    color: blue;
}

.anormalLink:HOVER {
    color: red;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

.ml_100 {
    margin-left: 100px;
}

.ml_80 {
    margin-left: 80px;
}

.ml_60 {
    margin-left: 60px;
}

.ml_40 {
    margin-left: 40px;
}

.ml_20 {
    margin-left: 20px;
}

.ml_10 {
    margin-left: 10px;
}

.ml_5 {
    margin-left: 5px;
}

.mr_100 {
    margin-right: 100px;
}

.mr_80 {
    margin-right: 80px;
}

.mr_60 {
    margin-right: 60px;
}

.mr_40 {
    margin-right: 40px;
}

.mr_20 {
    margin-right: 20px;
}

.mr_10 {
    margin-right: 10px;
}

.mlr_20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mlr_10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mlr_5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mt_20 {
    margin-top: 20px;
}

.mt_10 {
    margin-top: 10px;
}

.mt_5 {
    margin-top: 5px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_10 {
    margin-bottom: 10px;
}

.mb_5 {
    margin-bottom: 5px;
}

.mb_0 {
    margin-bottom: 0px !important;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.box_radius {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.box_radius_10 {
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    border-radius: 10px !important;
}

.logo_circle {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.logo_circle_round {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    /* border: 1px solid transparent; */
    border-radius: 0px;
    border: 0px;
    text-decoration: none;
    padding: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    /*  outline: thin dotted;
     outline: 5px auto -webkit-focus-ring-color;
     outline-offset: -2px; */
}

.btn:hover,
.btn:focus,
.btn.focus {
    /*  color: #333; */
    text-decoration: none;
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    /*   -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
              box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); */
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    /*   -webkit-box-shadow: none;
              box-shadow: none; */
    opacity: .65;
}

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:focus,
.btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc;
}

.btn-default .badge {
    color: #fff;
    background-color: #333;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary .badge {
    color: #337ab7;
    background-color: #fff;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success .badge {
    color: #5cb85c;
    background-color: #fff;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-info:focus,
.btn-info.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
    background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-info .badge {
    color: #5bc0de;
    background-color: #fff;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-warning:focus,
.btn-warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d;
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
    background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff;
}

.btn-danger {
    /*   color: #fff;
      background-color: #d9534f;
      border-color: #d43f3a; */
    color: #fff;
    border-color: #ac2925;
    background-color: #ff5456;
}

.btn-bg-red {
    color: #c9302c;
    background-color: #fcfcfc;
}

.btn-danger:focus,
.btn-danger.focus {
    /*   color: #fff; */
    background-color: #c9302c;
    /*  border-color: #761c19; */
}

.btn-danger:hover {
    /*   color: #fff; */
    background-color: #c9302c;
    /*   border-color: #ac2925; */
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #c9302c;
    /*   border-color: #ac2925; */
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
    background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger .badge {
    color: #d9534f;
    background-color: #fff;
}

.btn-link {
    font-weight: normal;
    color: #337ab7;
    border-radius: 0;
}

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    /*  -webkit-box-shadow: none;
             box-shadow: none; */
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent;
}

.btn-link:hover,
.btn-link:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #777;
    text-decoration: none;
}

.btn-lg,
.btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-xs,
.btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}

.divider {
    overflow: hidden;
    border-bottom: 1px solid #DADADA;
    margin-left: 10px;
    margin-right: 10px;
}

.divider_full {
    overflow: hidden;
    border-bottom: 1px solid #DADADA;
    display: block;
}

.divider_col {
    overflow: hidden;
    height: 24px;
    border-left: 1px solid #DADADA;
    display: block;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

.input-mini {
    width: 60px;
}

.input-small {
    width: 90px;
}

.input-medium {
    width: 150px;
}

.input-large {
    width: 210px;
}

.input-xlarge {
    width: 270px;
}

.input-xxlarge {
    width: 530px;
}

.input-block {
    width: 100%;;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"], input[type="email"],
input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
.uneditable-input {
    display: inline-block;
    height: 30px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    vertical-align: middle;
}

input, textarea, .uneditable-input {
    width: 160px;
}

textarea {
    height: auto;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"], input[type="email"],
input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
.uneditable-input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    /*   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); */
    /*    -webkit-transition: border linear .2s, box-shadow linear .2s;
       -moz-transition: border linear .2s, box-shadow linear .2s;
       -o-transition: border linear .2s, box-shadow linear .2s;
       transition: border linear .2s, box-shadow linear .2s; */
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus,
input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus,
input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus,
input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus,
.uneditable-input:focus {
    /*  border-color: rgba(82, 168, 236, 0.8); */
    outline: 0;
    outline: thin dotted \9;
    /*    IE6-9
       -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
           rgba(82, 168, 236, .6);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
           rgba(82, 168, 236, .6);
       box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
           rgba(82, 168, 236, .6); */
}

#dialogMask {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.bosmenu {
    height: 40px;
    line-height: 40px;
    border-left: 4px solid transparent;
    font-weight: bold;
    color: #666666;
    cursor: pointer;
}

.bosmenu a {
    color: #666666;
}

.bosmenu_current {
    border-left: 4px solid #fd5c63;
    color: #fd5c63;
}

.bosmenu:HOVER {
    border-left: 4px solid #fd5c63;
    color: #fd5c63;
    background-color: #eeeeee;
}

.bosmenu_one {
    padding-left: 30px;
    border-bottom: 1px solid #e7e7e7;
}

.bosmenu_two {
    padding-left: 60px;
}

.table {
    border-collapse: collapse;
}

.table thead {
    background-color: #f3f3f3;
}

.table tr {
    height: 40px;
}

.table tr {
    border: 1px solid #e7e7e7;
}

.table tr:HOVER {
    background-color: #f3f3f3;
}

.table th {
    font-weight: normal;
    padding: 10px;
    text-align: left;
}

.table td {
    font-weight: normal;
    padding: 10px;
    text-align: left;
}

#bos_menu a:VISITED {
    color: inherit;
}

#bos_menu a {
    text-decoration: none;
}

.emptylink {
    text-decoration: none;
    color: inherit;
}

.emptylink:VISITED {
    color: inherit;
}

.alert {
    padding: 5px 35px 5px 14px;
    /*  margin-bottom: 20px; */
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.alert, .alert h4 {
    color: #c09853;
}

.alert h4 {
    margin: 0;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}

.alert-success h4 {
    color: #468847;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.alert-danger h4, .alert-error h4 {
    color: #b94a48;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}

.alert-info h4 {
    color: #3a87ad;
}

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

.alert-block > p, .alert-block > ul {
    margin-bottom: 0;
}

.alert-block p + p {
    margin-top: 5px;
}

.tlbs, .ts-width, .ts-height {
    display: none !important;
}

.dialog-wrap {
    display: table;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.dialog-wrap.confirm-wrap {
    background-color: rgba(0, 0, 0, .4);
}

.dialog-wrap .dialog-panel {
    display: table-cell;
    vertical-align: middle;
}

.dialog-wrap .dialog-panel .pop-dialog {
    margin: auto;
}

.dialog-wrap .dialog-panel .pop-msg {
    margin: auto 70px;
    padding: 30px 10px;
    color: #fff;
    font-size: 16px;

    text-align: center;
    border-radius: 3px;
    background-color: rgba(218, 32, 41, .7);
}

.dialog-confirm {
    margin: auto 37px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .95);
}

.dialog-confirm .msg {
    padding: 30px;
    line-height: 1.5;
}

.dialog-confirm .btns {
    display: -webkit-box;
    border-top: 1px solid rgba(175, 172, 172, 0.3);
}

.dialog-confirm .btns .btn {
    -webkit-box-flex: 1;
    display: block;
    /*width: 50%;*/
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #0079ff;
    font-weight: normal;
    border-radius: 0;
    background-color: #fff;
    box-sizing: border-box;
}

.dialog-confirm .btns .btn:first-child {
    border-right: 1px solid rgba(175, 172, 172, 0.3);
}

.dialog-confirm .btns .btn:last-child {
    border-right: none;
}

.red {
    color: #ec4e43;
}

.pop-label {
    width: 120px;
}

.clear {
    clear: both
}

.hide {
    diaply: none;
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    display: table;
    width: 100%;
    height: 100%;
}

.loading .inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.loading .panel {
    width: 110px;
    margin: auto;
    padding: 20px 0 15px 0;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .6);
}

.loading .txt {
    margin-top: 15px;
}

.loading .tick-tock {
    position: relative;
    width: 20px;
    height: 20px;
    margin: auto;
}

.loading .tick-tock span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20%;
    height: 40%;
    margin-left: -10%;
    margin-top: -20%;
    opacity: 0;
    border-radius: 20px;
    background-color: #fff;

    -webkit-animation: loading 1s linear infinite;
}

.loading .tick-tock .t1 {
    -webkit-transform: rotate(0deg) translate(0, -142%);
    -webkit-animation-delay: 0s;
}

.loading .tick-tock .t2 {
    -webkit-transform: rotate(30deg) translate(0, -142%);
    -webkit-animation-delay: -.9167s;
}

.loading .tick-tock .t3 {
    -webkit-transform: rotate(60deg) translate(0, -142%);
    -webkit-animation-delay: -.833s;
}

.loading .tick-tock .t4 {
    -webkit-transform: rotate(90deg) translate(0, -142%);
    -webkit-animation-delay: -.75s;
}

.loading .tick-tock .t5 {
    -webkit-transform: rotate(120deg) translate(0, -142%);
    -webkit-animation-delay: -.667s;
}

.loading .tick-tock .t6 {
    -webkit-transform: rotate(150deg) translate(0, -142%);
    -webkit-animation-delay: -.5833s;
}

.loading .tick-tock .t7 {
    -webkit-transform: rotate(180deg) translate(0, -142%);
    -webkit-animation-delay: -.5s;
}

.loading .tick-tock .t8 {
    -webkit-transform: rotate(210deg) translate(0, -142%);
    -webkit-animation-delay: -.41667s;
}

.loading .tick-tock .t9 {
    -webkit-transform: rotate(240deg) translate(0, -142%);
    -webkit-animation-delay: -.333s;
}

.loading .tick-tock .t10 {
    -webkit-transform: rotate(270deg) translate(0, -142%);
    -webkit-animation-delay: -.25s;
}

.loading .tick-tock .t11 {
    -webkit-transform: rotate(300deg) translate(0, -142%);
    -webkit-animation-delay: -.1667s;
}

.loading .tick-tock .t12 {
    -webkit-transform: rotate(330deg) translate(0, -142%);
    -webkit-animation-delay: -.0833s;
}

@-webkit-keyframes loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .25;
    }
}

form label.error {
    color: red;
}

.pageInfoWrap .pagegolink {
    background-color: white;
}

.pageInfoWrap .pagegolink:HOVER {
    background-color: #f0f0f0;
}

/*bootstrap*/
.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-primary .badge {
    color: #428bca;
    background-color: #fff;
}