<!--<link rel="stylesheet" href="http://www.jq22.com/demo/datetimepicker-master20160419/jquery.datetimepicker.css" />-->
<div>
    <div class="page-header">
        <h1>
            <small>
                <i class="icon-double-angle-right"></i>
                {{title}}
            </small>
        </h1>
        <form id="activeSelectForm" onsubmit="return false">
            <h1 style="text-align: right">
                <small>
                    模式：
                    <input type="text" id="model" name="model" value="{{model}}" readonly="true" class="input-sm"/>
                    &nbsp;
                    应用：
                    <input type="text" id="appName" name="appName" value="{{appName}}" class="input-sm"/>
                    &nbsp;
                    手机账号：
                    <input type="text" id="mobile" name="mobile" value="{{mobile}}" class="input-sm"/>
                    &nbsp;
                    时间：
                    <input type="text" id="startTime" name="startTime" value="{{startTime}}" class="input-sm"/>
                    <i class="icon-calendar"></i>
                    --
                    <input type="text" id="endTime" name="endTime" value="{{endTime}}" class="input-sm"/>
                    <i class="icon-calendar"></i>
                    <!--<span class="input-group-addon"> <i class="icon-calendar"></i> </span>-->
                    &nbsp;
                    <button class="btn btn-white" id="btnQuery" enter="true">查询</button>&nbsp;&nbsp;
                    <button class="btn btn-white" id="btnClear" >清空</button>&nbsp;&nbsp;
                    <button class="btn btn-danger" id="btnSelect" >选择</button>
                </small>
            </h1>
        </form>
    </div><!-- /.page-header -->
    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="center">
                <label>
                    <input id="chkFormAll" type="checkbox" class="ace" />
                    <span class="lbl"></span>
                </label>
            </th>
            <th>应用</th>
            <th>
                <i class="icon-time "></i>
                最后操作时间
            </th>
            <th>手机账号</th>
            <th>请求URL</th>
            <th>状态</th>
            <th>级别</th>
        </tr>
        </thead>

        <tbody id="tbContent">
        {{each dataList as bean i}}
        <tr class="selected" id="chkRow">
            <td class="center">
                <label>
                    <input id="chkForm" type="checkbox" class="ace"  value="{{bean.id}}" />
                    <span class="lbl"></span>
                </label>
            </td>
            <td>
                <a href="#">{{bean.appName}}</a>
            </td>
            <td>
                <div> {{bean.time}}</div>
            </td>
            <td>
                <div>{{bean.mobile}}</div>
                <div>{{bean.name}}</div>
            </td>
            <td>{{bean.url}}</td>
            <td>{{bean.status}}</td>
            <td>
                {{if bean.level == "BIZ_ERROR" }}
                <div><strong style="color:red">{{bean.level}}</strong></div>
                <div><strong style="color:red">{{bean.errMsg}}</strong></div>
                {{/if}}
                {{if bean.level == "SYS_ERROR" }}
                <div><strong style="color:red">{{bean.level}}</strong></div>
                {{/if}}
                {{if bean.level == "INFO" }}
                <div><strong style="color:green">{{bean.level}}</strong></div>
                {{/if}}
            </td>

        </tr>
        {{/each}}
        </tbody>
    </table>

    <!--page start-->
    <div class="row">
        <div class="col-sm-6">
            <div class="dataTables_info" id="sample-table-2_info">
                总共【<strong class="totalCount"></strong>】条记录，第【<strong class="pageNum"></strong>】页，共【<strong
                    class="pageCount"></strong>】页
                当前展示【<strong class="startRow"></strong> - <strong class="endRow"></strong>】
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dataTables_paginate paging_bootstrap">
                <ul class="pagination">
                </ul>
            </div>
        </div>
    </div>
    <!--page end-->

</div><!-- /.page-content -->
<!--<script src="assets/js/timepicker/js/jquery-ui.js"></script>-->
<!--<script src="assets/js/timepicker/js/jquery-ui-slide.min.js"></script>-->
<script src="/_resources/scripts/module/at/activeSelect.js"></script>
