<div>
    <div class="page-header">
        <h1>
            <small>
                <i class="icon-double-angle-right"></i>
                {{title}}
            </small>
        </h1>
        <h1 style="text-align: right">
            <small>
                <form id="deployLogForm" onsubmit="return false">
                    名称：
                    <input type="text" id="name" name="name" value="{{name}}" class="input-sm" />
                    环境：
                    <input type="text" id="model" name="model" value="{{model}}" class="input-sm" />
                    创建人：
                    <input type="text" id="userName" name="userName" value="{{userName}}" class="input-sm" />
                    <button class="btn btn-success" id="btnQuery"> <i class="icon-search align-top bigger-125"></i> 查询 </button>&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-pink" id="btnNewTemplate"> <i class="icon-building align-top bigger-125"></i> 创建模板 </button>
                    <!--<button class="btn btn-pink" id="btnNewTemplate">创建模板</button>-->
                </form>
            </small>
        </h1>
    </div><!-- /.page-header -->
    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>名称</th>
            <th>环境</th>
            <th>创建人</th>
            <th>操作</th>
        </tr>
        </thead>

        <tbody id="tbContent">
        {{each dataList as bean i}}
        <tr class="selected">
            <td>
                <a href="#">{{bean.appName}}</a>
            </td>
            <td>{{bean.model}}</td>
            <td>{{bean.userName}}</td>
            <td class="hidden-480">
                <a href="javascript:void(0)" id="enterView" data="{{bean.id}}" ><strong style="color:green">活动模板列表</strong></a>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>

    <!--page start-->
    <div class="row">
        <div class="col-sm-6">
            <div class="dataTables_info" id="sample-table-2_info">
                总共【<strong class="totalCount"></strong>】条记录，第【<strong class="pageNum"></strong>】页，共【<strong class="pageCount"></strong>】页
                当前展示【<strong class="startRow"></strong> - <strong class="endRow"></strong>】
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dataTables_paginate paging_bootstrap">
                <ul class="pagination">
                </ul>
            </div>
        </div>
    </div>
    <!--page end-->

</div><!-- /.page-content -->
<script src="/_resources/scripts/module/at/template.js" ></script>
<script>

</script>
