<div>
    <div class="page-header">
        <h1>
            <small>
                <i class="icon-double-angle-right"></i>
                {{title}}
                <span style="background: lightgreen">淡绿色</span>： 缓存 &nbsp;&nbsp;,
                <span style="background: lightpink">淡红色</span>： DB &nbsp;&nbsp;,
                <span style="background: lightgrey">淡灰色</span>： 基础 &nbsp;&nbsp;,
                <span>默认</span>： 其他 &nbsp;
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div>
        <div>
            <button class="btn btn-sm" id="btnCache">缓存</button>
            <button class="btn btn-sm" id="btnDB">DB</button>

        </div>
        <div id="logContent">
            <!--<pre>-->
            {{each logList as log i}}
            <div>
                {{if log.type == 0}}
                <pre style="background:lightgrey" data="{{log.message}}"><span>{{log.message}}</span> <button class="btn btn-sm btn-primary"
                                                                          id="btnNormalMsgFormat">格式化</button> </pre>
                {{/if}}
                {{if log.type == 1}}
                <pre style="background:lightpink">{{log.message}} <button class="btn btn-sm btn-primary" id="btnShowDbResult">显示结果</button> &nbsp;<button class="btn btn-sm btn-primary" id="btnShowDbSql">显示SQL</button> &nbsp;<button class="btn btn-sm btn-primary" data-clipboard-target="#logSql{{log.id}}"  id="btnCopySql">复制SQL</button></pre>
                <textarea id="logSql{{log.id}}" name="dbSql"  readonly="true" style="width:100%;height: 60px;display: none" >{{log.sql}}</textarea>
                <pre style="display: none" name="dbResult">{{log.dataMsg}}</pre>
                {{/if}}
                {{if log.type == 2}}
                <pre style="background:lightgreen">{{log.message}} <button class="btn btn-sm btn-primary" id="btnShowCache">显示结果</button> </pre>
                <!--<pre style="display: none" name="cacheData" data="{{log.sql}}"></pre>-->
                <pre style="display: none" name="cacheData">{{log.dataMsg}}</pre>
                {{/if}}
                {{if log.type == 3}}
                <div>{{log.message}}</div>
                {{/if}}
            </div>
            {{/each}}
            <!--</pre>-->
            <!--<pre style="display: none" id="formatLogText" >{{formatLogText}}</pre>-->
            <!--<input id="formatLogText" value="https://github.com/zenorocha/clipboard.js.git">-->
        </div>
        <textarea id="formatLogText" style="width:1px;height:1px" readonly="true">{{formatLogText}}</textarea>
    </div>

</div><!-- /.page-content -->
<link rel="stylesheet" href="/_resources/scripts/json/jquery.jsonview.min.css"/>
<script src="/_resources/scripts/clipboard.min.js"></script>
<script src="/_resources/scripts/json/jquery.jsonview.min.js"></script>
