<div>
    <div class="page-header">
        <h1>
            <small>
                <i class="icon-double-angle-right"></i>
                {{title}}
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div>
        <div>
            <pre id="logText" >{{logText}}</pre>
            <!--<pre style="display: none" id="formatLogText" >{{formatLogText}}</pre>-->
            <!--<input id="formatLogText" value="https://github.com/zenorocha/clipboard.js.git">-->
        </div>
        <textarea id="formatLogText" style="width:1px;height:1px" readonly="true" >{{logText}}</textarea>
    </div>

</div><!-- /.page-content -->
<link rel="stylesheet" href="/_resources/scripts/json/jquery.jsonview.min.css"/>
<script src="/_resources/scripts/clipboard.min.js" ></script>
<script src="/_resources/scripts/json/jquery.jsonview.min.js" ></script>
