<div>
    <div class="page-header">
        <h1>
            <small>
                <i class="icon-double-angle-right"></i>
               {{tp_title}}
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form" id="codeBuildMsgForm" onsubmit="return false;">
                <div class="space-4"></div>
                <div class="form-group" style="padding-left: 50px">
                    <textarea style="width:95%;height: 600px">{{msg}}</textarea>
                    &nbsp;&nbsp;
                </div>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset" id="btnCancel"> <i class="icon-undo bigger-110"></i> 关闭 </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div><!-- /.page-content -->
