<div>
    <div class="page-header">
        <h1>
            <small>
                <i class="icon-double-angle-right"></i>
               {{tp_title}}
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form" id="codeBuildNewForm" onsubmit="return false;">
                <input type="hidden" id="id" name="id" value="{{id}}">
                <div class="space-4"></div>
                <div class="form-group" style="padding-left: 50px">
                    <label>项目：</label>
                    <span>
                    <select id="projectId" name="projectId">
                        <option></option>
                    </select>
                    </span>
                    &nbsp;&nbsp;
                </div>
                <div class="space-4"></div>
                <div class="form-group" style="padding-left: 50px">
                    <label>英文名称：</label>
                    <span>
                        <input type="text" id="enName" name="enName" value="{{enName}}" placeholder="请输入名称" class="input-xlarge">
                    </span>
                    &nbsp;&nbsp;
                    <label>中文名称：</label>
                    <span>
                        <input type="text" id="cnName" name="cnName" value="{{cnName}}" placeholder="请输入名称" class="input-xlarge">
                    </span>
                    &nbsp;&nbsp;
                </div>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" id="btnSave"> <i class="icon-ok bigger-110"></i> 保存 </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset" id="btnCancel"> <i class="icon-undo bigger-110"></i> 取消 </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div><!-- /.page-content -->
