<div>
    <div class="page-header">
        <h1>
            <small>
                <i class="icon-double-angle-right"></i>
               {{tp_title}}
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form" id="activeStartForm" onsubmit="return false;">
                <input type="hidden" id="id" name="id" value="{{id}}">
                <div class="space-4"></div>
                <div class="form-group" style="padding-left: 50px">
                    <span style="text-align: left">
                        模板：{{name}} [{{model | text:'logModel'}}]
                    </span>
                    &nbsp;&nbsp;
                    <span style="text-align: right">
                        <button class="btn btn-info" id="btnActiveStart"> <i class="icon-ok bigger-110"></i> 开始执行 </button>
                    </span>
                </div>
                <div class="space-4"></div>
            </form>

            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th style="width:950px;">活动</th>
                    <th style="width:8%">状态</th>
                    <th style="width:5%">操作</th>
                </tr>
                </thead>

                <tbody id="tbContent">
                {{each activeVoList as bean i}}
                <tr class="selected">
                    <td>
                        <div name="enterHttpExecView" data="{{bean.id}}" >
                        <label>{{bean.name}}：</label>
                        <span> {{bean.url}} </span> &nbsp;&nbsp;
                        <span> {{bean.method}} </span> &nbsp;&nbsp;
                        <span> {{bean.reqContentType}} </span> &nbsp;&nbsp;
                        </div>
                    </td>
                    <td id="activeExeStatus_{{bean.id}}" name="activeExeStatus">未开始</td>
                    <td>
                        <div name="enterHttpExecView" data="{{bean.id}}" >
                            <a href="javascript:void(0)" ><strong style="color:green">详细</strong></a>
                        </div>
                    </td>
                </tr>
                <tr name="trChildItem" id="trChildItem_{{bean.id}}" data="trChildItem_{{bean.id}}" style="display: none">
                    <td>
                        <div id="tabs">
                            <ul>
                                <li> <a href="#tabs-1">返回消息</a> </li>
                                <li> <a href="#tabs-2">错误消息</a> </li>
                            </ul>

                            <div id="tabs-1">
                                <textarea id="result" style="width:950px;height:200px;" readonly="true"></textarea>
                                <!--result-->
                            </div>

                            <div id="tabs-2">
                                <textarea id="errMsg" style="width:950px;height:200px;" readonly="true"></textarea>
                                <!--errMsg-->
                            </div>

                        </div>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</div><!-- /.page-content -->
