<div>
    <div class="page-header">
        <h1>
            <small>
                <i class="icon-double-angle-right"></i>
               {{tp_title}}
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form" id="variableNewForm" onsubmit="return false;">
                <input type="hidden" id="id" name="id" value="{{domain.id}}">
                <div class="space-4"></div>
                <div class="form-group" style="padding-left: 50px">
                    <label>名称：</label>
                    <span>
                        <input type="text" id="key" name="key" value="{{domain.key}}" placeholder="请输入名称" class="input-xlarge">
                    </span>
                    &nbsp;&nbsp;
                    <label>值：</label>
                    <span>
                        <input type="text" id="value" name="value" value="{{domain.value}}" placeholder="请输入值" class="input-xlarge">
                    </span>
                </div>
                <div class="form-group" style="padding-left: 50px">
                    <label>模版：</label>
                    <span>
                        <select id="templateId" name="templateId"></select>
                    </span>
                </div>
                <div class="space-4"></div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" id="btnSave"> <i class="icon-ok bigger-110"></i> 保存 </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset" id="btnCancel"> <i class="icon-undo bigger-110"></i> 取消 </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div><!-- /.page-content -->
