<style>
	.spinner-preview {
		width:100px;
		height:100px;
		text-align:center;
		margin-top:60px;
	}

	.dropdown-preview {
		margin:0 5px;
		display:inline-block;
	}
	.dropdown-preview  > .dropdown-menu {
		display: block;
		position: static;
		margin-bottom: 5px;
	}

	.spinner-preview {
		width:100px;
		height:100px;
		text-align:center;
		margin-top:60px;
	}

	.dropdown-preview {
		margin:0 5px;
		display:inline-block;
	}
	.dropdown-preview  > .dropdown-menu {
		display: block;
		position: static;
		margin-bottom: 5px;
	}


</style>
<div>
	<div class="page-header">
		<h1>
			<small>
				<i class="icon-double-angle-right"></i>
				{{title}}<strong  style="color:{{titleColor}}">{{msTitle}}</strong>
			</small>
		</h1>
		<h1 style="text-align: right">
			<small>
				分支名称
				<!--<input type="text" id="branch" placeholder="prod" class="input-sm" />-->
				<select class="form-control" style="width:160px;height:40px;line-height: 40px" id="branch" data-placeholder="请选择分支">
					<option value=""></option>
				</select>
				<button class="btn btn-xs btn-green"  id="btnRefreshBranch">刷新分支</button>


				<button class="btn btn-warning" id="btnComplie">编译</button>
				<button class="btn btn-danger" id="btnBtachDeploy">批量发布</button>
				<button class="btn btn-pink" id="btnBatchRestart">批量重启</button>
				<button class="btn btn-info" id="btnBatchRollback">批量回滚</button>
			</small>
		</h1>

	</div><!-- /.page-header -->
	<table id="sample-table-1" class="table table-striped table-bordered table-hover">
		<thead>
		<tr>
			<th class="center">
				<label>
				<input id="chkFormAll" type="checkbox" class="ace" checked="true"/>
				<span class="lbl"></span>
				</label>
			</th>
			<th>节点</th>
			<th>内网</th>
			<th>外网</th>
			<th title="应用节点状态，OK：表示正常；ERROR：表示异常">状态</th>
			<th>操作</th>
		</tr>
		</thead>

		<tbody id="tbContentHost">
			{{each dataList as bean i}}
			<tr class="selected">
				<td class="center">
					<label>
						<input id="chkForm" type="checkbox" class="ace" checked="true" value="{{bean.eth0}}" />
						<span class="lbl"></span>
					</label>
				</td>
				<td>
					<input type="hidden" id="ip" value="{{bean.eth1}}"/>
					<a href="#">{{bean.name}}</a>
				</td>
				<td>{{bean.eth0}}</td>
				<td>{{bean.eth1}}</td>
				<td  name="serverStatusText" data="{{bean.name}}" style="font-weight: bold">检测中...</td>
				<td>
					<button class="btn btn-xs btn-danger" data="{{bean.eth0}}" id="btnSingleDeploy">发布</button>
					<button class="btn btn-xs btn-pink" data="{{bean.eth0}}" id="btnSingleRestart">重启</button>
					<button class="btn btn-xs btn-danger" data="{{bean.eth0}}" id="btnSingleStop">下线</button>
					<button class="btn btn-xs btn-info" data="{{bean.eth0}}" id="btnSingleRollback">回滚</button>

					{{if appName == "web" || appName == "bos"}}
					<button class="btn btn-xs btn-danger" data="{{bean.eth0}}" id="btnSingleDeployStatic" title="不重启发布">静态发布</button>
					{{/if}}
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<input type="hidden" id="appName" value="{{appName}}" />
	<input type="hidden" id="model" value="{{model}}" />
	<div>
		<textarea id="result" style="margin-top:15px;width:98%;height:450px;background: black;color:#f0f0f0"  readonly="true" ></textarea>
	</div>
</div><!-- /.page-content -->

<script src="/_resources/scripts/module/appHost.js?ver={{ver}}" ></script>
