<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8"/>
    <title>发布应用 - 云淘助手</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- basic styles -->

    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="assets/css/jquery-ui-1.10.3.full.min.css" />
    <!--<link rel="stylesheet" href="assets/css/bootstrap-timepicker.css" />-->
    <!--<link rel="stylesheet" href="assets/css/jquery-ui.css" />-->

    <link rel="stylesheet" href="assets/js/timepicker/css/jquery.datetimepicker.css" />

    <!--[if IE 7]>
    <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css"/>
    <![endif]-->

    <!-- page specific plugin styles -->

    <!-- fonts -->

    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />-->

    <!-- ace styles -->

    <link rel="stylesheet" href="assets/css/ace.min.css"/>
    <link rel="stylesheet" href="assets/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="assets/css/ace-skins.min.css"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ace-ie.min.css"/>
    <![endif]-->

    <link rel="stylesheet" href="assets/css/chosen.css"/>
    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="assets/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div id="indexBlock"></div>
</body>
<script type="text/javascript">
    try {
        ace.settings.check('sidebar', 'collapsed')
    } catch (e) {
    }
</script>
<!-- basic scripts -->

<!--[if !IE]> -->

<script src="assets/js/jquery-2.0.3.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="assets/js/jquery-1.10.2.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>" + "<" + "/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if ("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="assets/js/jquery.dataTables.bootstrap.js"></script>

<script src="assets/js/jquery-ui-1.10.3.full.min.js"></script>
<script src="assets/js/jquery.ui.touch-punch.min.js"></script>

<!--<script src="assets/js/date-time/bootstrap-timepicker.min.js"></script>-->
<!--<script src="assets/js/date-time/jquery-ui-timepicker-addon.js"></script>-->


<!-- ace scripts -->

<script src="assets/js/ace-elements.min.js"></script>
<script src="assets/js/ace.min.js"></script>
<script src="assets/js/bootbox.min.js"></script>
<script src="assets/js/chosen.jquery.min.js"></script>
<script src="assets/js/x-editable/bootstrap-editable.min.js"></script>

<script src="assets/js/timepicker/js/jquery.datetimepicker.full.js"></script>

<script src="/_resources/scripts/jquery.cookie.js" ></script>
<!-- inline scripts related to this page -->

<!--<script src="/_resources/scripts/header.js" ></script>-->
<!--<script src="/_resources/scripts/yuntao.js"></script>-->
<!--<script src="/_resources/scripts/template.js"></script>-->
<!--<script src="/_resources/scripts/index.js"></script>-->
<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script type="text/javascript">
    var appData;
    $.ajax({
        url: "/data/appDataList",
        async: false,
        success: function (d) {
            appData = d.data;
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            alert(textStatus);
        }
    });

    var ver = appData.ver;
    document.write("<script src='/_resources/scripts/header.js?ver="+ver+"'>"+"<"+"/script>");
    document.write("<script src='/_resources/scripts/yuntao.js?ver="+ver+"'>"+"<"+"/script>");
    document.write("<script src='/_resources/scripts/template.js?ver="+ver+"'>"+"<"+"/script>");
//    document.write("<script src='/_resources/scripts/index.js?ver="+ver+"'>"+"<"+"/script>");

    $(document).ready(function () {
        var isLogin = YunTao.deploy.checkLogin();
        if (!isLogin) { //跳转到登陆录列表
            $(document.body).addClass("login-layout");
            YunTao.deploy.routeIndex("/login.html", appData);
            return;
        }
        //跳转到应用列表
        YunTao.deploy.routeIndex("/list.html", appData);

    });

</script>
</html>
