<div>
    <div class="page-header">
        <h1>
            <small>
                <i class="icon-double-angle-right"></i>
                {{title}}
            </small>
        </h1>
    </div><!-- /.page-header -->
    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <!--<th class="center">-->
            <!--<label>-->
            <!--<input type="checkbox" class="ace">-->
            <!--<span class="lbl"></span>-->
            <!--</label>-->
            <!--</th>-->
            <th width="5%">应用</th>
            <th width="6%">描述</th>
            <th width="6%">负责人</th>
            <th width="12%">
                <i class="icon-time "></i>
                最后操作时间
            </th>
            <th width="25%">操作日志</th>
            <th width="17%">Android 测试版本|线上版本</th>
            <th width="17%">IOS 测试版本|线上版本</th>
        </tr>
        </thead>

        <tbody id="tbContentApp">
        {{each dataList as bean i}}
        <tr class="selected">
            <td appName="{{bean.name}}">
                <a href="#">{{bean.name}}</a>
            </td>
            <td>{{bean.desc}}</td>
            <td>{{bean.userName}}</td>
            <td>{{bean.lastTime}}</td>
            <td>{{bean.log}}</td>
            <td  style="font-weight: bold">
                {{bean.testAndroidVersion}}
                <button class="btn btn-xs btn-default" id="btnDeploy" appName="{{bean.name}}" model="test" deployType="Android" deployVersion="{{bean.testAndroidDeployVersion}}"  >发布测试</button>
                |
                {{bean.prodAndroidVersion}}
                <button class="btn btn-xs btn-danger" id="btnDeploy" appName="{{bean.name}}" model="prod" deployType="Android" deployVersion="{{bean.prodAndroidDeployVersion}}"  >发布线上</button>
            </td>
            <td  style="font-weight: bold">
                {{bean.testIOSVersion}}
                <button class="btn btn-xs btn-default" id="btnDeploy" appName="{{bean.name}}" model="test" deployType="IOS" deployVersion="{{bean.testIOSDeployVersion}}"  >发布测试</button>
                |
                {{bean.prodIOSVersion}}
                <button class="btn btn-xs btn-danger" id="btnDeploy" appName="{{bean.name}}" model="prod" deployType="IOS" deployVersion="{{bean.prodIOSDeployVersion}}"  >发布线上</button>
            </td>

        </tr>
        {{/each}}
        </tbody>
    </table>

    <div>
        <textarea id="result" style="margin-top:15px;width:98%;height:450px;background: black;color:#f0f0f0"  readonly="true" ></textarea>
    </div>
</div><!-- /.page-content -->
<script src="/_resources/scripts/module/appFront.js?ver={{ver}}" ></script>
