<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try {
            ace.settings.check('navbar', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <i class="icon-leaf"></i>
                    {{logoName}}[{{companyName}}]
                </small>
            </a><!-- /.brand -->
        </div><!-- /.navbar-header -->

        <div class="navbar-header pull-right" role="navigation">
            <div style="text-align: center;margin:10px;font-size:18px;line-height: 20px">
                欢迎您：<strong id="nickName" style="color:red"></strong>
                <a href="javascript:void(0)" id="logout" style="color:green">退出</a>
            </div>
        </div>
    </div><!-- /.container -->
</div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar">
            <script type="text/javascript">
                try {
                    ace.settings.check('sidebar', 'fixed')
                } catch (e) {
                }
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">

            </div><!-- #sidebar-shortcuts -->
            <ul class="nav nav-list">
                {{each authResList as bean i}}
                    <li data="{{i}}">
                        <a href="javascript:void(0)" id="{{bean.actionId}}">
                            <i class="{{bean.icon}}"></i>
                            <span class="menu-text"> {{bean.name}} </span>
                        </a>
                    </li>
                {{/each}}
            </ul>
            </li>
            </ul><!-- /.nav-list -->

            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left"
                   data-icon2="icon-double-angle-right"></i>
            </div>

        </div>

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="javascript:void(0)" id="btnHome">主页</a>
                    </li>

                    <!--<li>-->
                    <!--<a href="#">应用列表</a>-->
                    <!--</li>-->
                    <!--<li class="active">Simple &amp; Dynamic</li>-->
                </ul><!-- .breadcrumb -->
                <!--<ul>-->
                <!--<li>实时搜索 发的萨芬撒</li>-->
                <!--</ul>-->
                <ul style="list-style:none;position: absolute; top: 6px; right: 400px; line-height: 24px;">
                    <li>
                        <i class="icon-bolt" id="deployStatus" style="color:green;"> 空闲</i>
                    </li>
                </ul>

                <ul style="list-style:none;position: absolute; top: 6px; right: 22px; line-height: 24px;">
                    <li>
                        <i class="icon-refresh"></i>
                        <a href="javascript:void(0)" id="btnRefresh">刷新</a>
                    </li>
                </ul>

            </div>

            <div class="page-content">
            </div>

        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

</div><!-- /.main-container -->
<script src="/_resources/scripts/index.js?ver={{ver}}"></script>
<script type="text/javascript">
    $(document).ready(function () {
//        var isLogin = YunTao.deploy.index.checkLogin();
//        if (!isLogin) {
//            return;
//        }

        var userId = appData["user"].id;
        $.ajax({
            url: "/data/appUserDataList",
            data:{userId:userId},
            async: false,
            success: function (d) {
                var data = d.data;
                for(var key in data){
                    appData[key] = data[key];
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus);
            }
        });

        YunTao.deploy.index.renderInit();
        $(".nav-list").find("li").first().find("a").first().trigger("click");

    });

</script>
