<div>
    <div class="page-header">
        <h1>
            <small>
                <i class="icon-double-angle-right"></i>
                {{title}}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name"> 账号 </div>

            <div class="profile-info-value">
                <span class="editable editable-click" >{{accountNo}}</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> 姓名 </div>

            <div class="profile-info-value">
                <span class="editable editable-click" >{{nickName}}</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> 手机号码 </div>

            <div class="profile-info-value">
                <span class="editable editable-click" >{{mobile}}</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> 邮箱 </div>

            <div class="profile-info-value">
                <span class="editable editable-click" >{{email}}</span>
            </div>
        </div>
    </div>
    <div class="profile-user-info profile-user-info-striped" style="margin-top: 10px">
        <button class="btn btn-warning" id="btnEnableRemoteDev">开启远程开发</button>
    </div>

</div><!-- /.page-content -->
<!--<script src="/_resources/scripts/module/at/template.js?ver={{ver}}" ></script>-->
<script>
$(document).ready(function(){
    YunTao.deploy.eventProcess.addListener("deploy_script",function(msgObj){
        alert(msgObj.data);
    });

    var params = {};
    $("#btnEnableRemoteDev").click(function(){
        YunTao.deploy.util.reqPost("/deploy/addWhiteList", params, function (d) {
            alert("已开启");
        });

    });
});
</script>
